     .content {
         background-image: url("../images/ticker-image-blue.jpg");
         width: 100%;
         height: 40%;
     }

     .jumbotron {
         background: rgba(0, 0, 0, 0.4);
         /* background: black; */
         color: white;
         font-weight: bolder;
         margin: 20px 20% 20px 20%;
     }

     .navbar-header,
     #countryDrop {
         color: white;
     }

     body {
         padding-top: 50px;
         height: 100%;
     }

     #watchStock {
         margin-top: 25px;
     }

     #listItemHolder {
         background-color: #eeeeee;
         padding: 12px;
         position: relative;
         top: 1px;
         border: 2px double gray;
         visibility: hidden;
     }

     .hideWell {
         background: white;
         visibility: hidden;
     }

     input {
         align-content: center;
     }

     .modal-footer {
         text-align: center;
     }

     div.checkbox-control-group {
         margin-left: 20px;
     }

     .logo {
         height: 28px;
         width: 55px;
     }

     .starter-template {
         padding: 40px 15px;
         text-align: center;
     }

     .col-centered {
         float: none;
         margin: 0 auto;
     }

     #theadRow {
         background-color: #2a52be;
         color: white;
     }

     h4 {
         text-overflow: ellipsis;
         overflow: hidden;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
     }

     .carousel-control {
         width: 8%;
         width: 0px;
     }

     .carousel-control.left,
     .carousel-control.right {
         margin-right: 40px;
         margin-left: 32px;
         background-image: none;
         opacity: 1;
     }

     .carousel-control>a>span {
         color: black;
         font-size: 29px !important;
     }

     .carousel-col {
         position: relative;
         min-height: 1px;
         padding: 5px;
         float: left;
     }

     .active>div {
         display: none;
     }

     .active>div:first-child {
         display: block;
     }

     /*xs*/

     @media (max-width: 767px) {
         .carousel-inner .active.left {
             left: -50%;
         }
         .carousel-inner .active.right {
             left: 50%;
         }
         .carousel-inner .next {
             left: 50%;
         }
         .carousel-inner .prev {
             left: -50%;
         }
         .carousel-col {
             width: 50%;
         }
         .active>div:first-child+div {
             display: block;
         }
     }
     /*sm*/

     @media (min-width: 768px) and (max-width: 991px) {
         .carousel-inner .active.left {
             left: -50%;
         }
         .carousel-inner .active.right {
             left: 50%;
         }
         .carousel-inner .next {
             left: 50%;
         }
         .carousel-inner .prev {
             left: -50%;
         }
         .carousel-col {
             width: 50%;
         }
         .active>div:first-child+div {
             display: block;
         }
     }
     /*md*/

     @media (min-width: 992px) and (max-width: 1199px) {
         .carousel-inner .active.left {
             left: -33%;
         }
         .carousel-inner .active.right {
             left: 33%;
         }
         .carousel-inner .next {
             left: 33%;
         }
         .carousel-inner .prev {
             left: -33%;
         }
         .carousel-col {
             width: 33%;
         }
         .active>div:first-child+div {
             display: block;
         }
         .active>div:first-child+div+div {
             display: block;
         }
     }
     /*lg*/

     @media (min-width: 1200px) {
         .carousel-inner .active.left {
             left: -25%;
         }
         .carousel-inner .active.right {
             left: 25%;
         }
         .carousel-inner .next {
             left: 25%;
         }
         .carousel-inner .prev {
             left: -25%;
         }
         .carousel-col {
             width: 25%;
         }
         .active>div:first-child+div {
             display: block;
         }
         .active>div:first-child+div+div {
             display: block;
         }
         .active>div:first-child+div+div+div {
             display: block;
         }
     }

     .block {
         width: 400px;
         height: 280px;
         background: white;
     }

     div.img1 {
         width: 78%;
         height: 70%;
         display: block;
         margin: auto;
         background-color: lightblue;
     }

     div.img2 {
         width: 78%;
         height: 70%;
         display: block;
         margin: auto;
     }

     div.img3 {
         width: 78%;
         height: 70%;
         display: block;
         margin: auto;
     }

     div.img4 {
         width: 78%;
         height: 70%;
         display: block;
         margin: auto;
     }

     .carousel {
         text-align: center;
     }
        .srcnews1,
        .srcnews2,
        .srcnews3,
        .srcnews4 {
        text-transform: uppercase;
        }

